<!DOCTYPE html>
{%extends 'basic_app/base.html'%}
{%load static%}

{%block body_block%}
  <div class="container">
    <div class="jumbotron">
      <div class="heading">
        <h1>DJANGO</h1>
        <h1>This is the Homepage</h1>
        <h2>If you want to register, click on Register</h2>
      </div>
      <img src="{%static 'basic_app/django1.png'%}" alt="">


      <div class="para">
        <p>Usu at pericula suavitate molestiae, sit ne regione aliquando, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.ea id partem audiam tibique. Vim an epicurei salutandi contentiones, assum audiam inermis cu eam. Nihil putent conclusionemque vel in, his id facilisi lobortis corrumpit. No diam utinam diceret est, at scripta nostrum periculis nam, has mollis antiopam repudiare et. Nec cu legere indoctum, ei has sanctus commune senserit. Eu est cibo viris, mel in consulatu laboramus.</p>
      </div>


    </div>

  </div>
  {%endblock%}
